<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="TemsTransport" type="com.tibco.wcf.tems.TemsTransportExtensionElement, TIBCO.EMS.WCF, Version=2.0.0.0, Culture=neutral, PublicKeyToken=4eba9e761ecf2ed1" />
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <customBinding>
        <binding name="HttpBindingText">
          <textMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="TemsBinding">
          <!--<textMessageEncoding />-->
          <binaryMessageEncoding />
          <!--<mtomMessageEncoding />-->
          <TemsTransport maxBufferPoolSize="524288"
                                maxReceivedMessageSize="65536"
                                
                                allowAdministratedConnFactory="true"
                                allowAdministratedEndpointDest="true"
                                allowAdministratedCallbackDest="true"
                                allowBindingChanges="false"                                
                                
                                clientID=""
                                connAttemptCount="-1"
                                connAttemptDelay="-1"
                                connAttemptTimeout="-1"
                                loadBalanceMetric="Connections"
                                reconnAttemptCount="-1"
                                reconnAttemptDelay="-1"
                                reconnAttemptTimeout="-1"
                                serverUrl=""
                                sslAuthOnly="false"
                                sslProxyHost=""
                                sslProxyPort="-1"
                                sslProxyAuthUsername=""
                                sslProxyAuthPassword=""
                                sslTrace="false"
                                sslTargetHostName=""
                                username=""
                                password=""
                                
                                sessionAcknowledgeMode="NoAcknowledge"
                                
                                messageDeliveryMode="NonPersistent"
                                disableMessageID="false"
                                disableMessageTimestamp="false"
                                priority="4"
                                timeToLive="0"
                                
                                clientBaseAddress="queue/queue.clientBase.callback" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <!--<endpoint name="Http.OneWay"
                          address="http://localhost:8000/SimpleService"
                          binding="customBinding" bindingConfiguration="HttpBindingText"
                          contract="IServiceDatagram" />-->

      <endpoint name="Http.RequestReply"
                          address="http://localhost:8000/SimpleService"
                          binding="customBinding" bindingConfiguration="HttpBindingText"
                          contract="IServiceRequestReply" />

      <endpoint name="Tems.Datagram"
            address="net.tems://localhost:7222/queue/queue.sample"
            binding="customBinding" bindingConfiguration="TemsBinding"
            contract="IServiceDatagram" />

      <endpoint name="Tems.RequestReply"
            address="net.tems://localhost:7222/queue/queue.sample"
            binding="customBinding" bindingConfiguration="TemsBinding"
            contract="IServiceRequestReply" />

      <endpoint name="Tems.Duplex"
            address="net.tems://localhost:7222/queue/queue.sample"
            binding="customBinding" bindingConfiguration="TemsBinding"
            contract="IServiceDuplex" />

    </client>
    <services>
      
      <service behaviorConfiguration="" name="com.tibco.test.service.ServiceRequestReplyType">
        <!--<endpoint name="Http.RequestReply"
                          address="http://localhost:8000/SimpleService"
                          binding="customBinding" bindingConfiguration="HttpBindingText"
                          contract="com.tibco.test.service.IServiceRequestReply" />-->
        <endpoint name="Tems.RequestReply"
            address="net.tems://localhost:7222/queue/queue.sample"
            binding="customBinding" bindingConfiguration="TemsBinding"
            contract="com.tibco.test.service.IServiceRequestReply" />
      </service>

      <service behaviorConfiguration="" name="com.tibco.test.service.ServiceDatagramType">
        <!--<endpoint name="Http.OneWay"
                          address="http://localhost:8000/SimpleService"
                          binding="customBinding" bindingConfiguration="HttpBindingText"
                          contract="com.tibco.test.service.IServiceDatagram" />-->
        <endpoint name="Tems.Datagram"
            address="net.tems://localhost:7222/queue/queue.sample"
            binding="customBinding" bindingConfiguration="TemsBinding"
            contract="com.tibco.test.service.IServiceDatagram" />
      </service>

      <service behaviorConfiguration="" name="com.tibco.test.service.ServiceDuplexType">
        <!--<endpoint name="Http.OneWay"
                          address="http://localhost:8000/SimpleService"
                          binding="customBinding" bindingConfiguration="HttpBindingText"
                          contract="com.tibco.test.service.IServiceDuplex" />-->
        <endpoint name="Tems.Duplex"
            address="net.tems://localhost:7222/queue/queue.sample"
            binding="customBinding" bindingConfiguration="TemsBinding"
            contract="com.tibco.test.service.IServiceDuplex" />
      </service>
      
    </services>
    <!--Enable Message Logging here 
       log all messages received or sent at the transport or service model levels-->
    <!--<diagnostics>
      <messageLogging logEntireMessage="true"
                      maxMessagesToLog="1000000000"
                      logMessagesAtServiceLevel="true"
                      logMalformedMessages="true"
                      logMessagesAtTransportLevel="true" />
    </diagnostics>-->
  </system.serviceModel>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="D:\TIBCO\EMS\Tems\logs\net.tems.service.svclog" type="System.Diagnostics.XmlWriterTraceListener"
        name="xml" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>-->
</configuration>