<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- <source name="System.ServiceModel"
              switchValue="Verbose">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source> -->
      <!-- <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source> -->
      <source name="System.ServiceModel.Activation" switchValue="Verbose">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="TemsActivationTrace" switchValue="Verbose">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <!--
      Sets the level of Trace output by the TemsTransport.
      The value corresponds to one of the values of the TraceLevel enum:
          0 or Off      - Output no tracing and debugging messages. 
          1 or Error    - Output error-handling messages. 
          2 or Warning  - Output warnings and error-handling messages. 
          3 or Info     - Output informational messages, warnings, and error-handling messages. 
          4 or Verbose  - Output all debugging and tracing messages. 
      -->
      <add name="TemsTraceLevel" value="Verbose"/>
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="xxx" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\TemsSrvTraces.svclog"/>
      </listeners>
    </trace>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\ActivationTraces.svclog" traceOutputOptions="DateTime, ProcessId, ThreadId, Callstack"/>
    </sharedListeners>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
